/* General */

@font-face {
    font-family: "nickelodeon";
    src: url('..assets/fonts/nickelodeon.tff') format("truetype");
}

body {
    background-image: url('../images/bg.png');
    height: 100%;
    text-align: center;
}
h1, h2, h3 {
    margin-top: 5px;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.6em;
}
p {
    font-size: 1.8em;
}
.panel {
    margin-top: 40px;
}

/*Title*/
.nick {
    color: #FF6820;
    font-size: 3.6em;
    font-family: "nickelodeon", sans-serif;
}

/*Word Related*/

#categoryName {
    margin: 40px 0 20px; 0
}

#word {
    margin: 0;
    padding: 20px;
}
#word li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.8em;
    font-weight: bold;
}

#tries {
    margin-bottom: 40px;
    display: block;
}

/*Classy Button*/

button {
    background: #ff8100;
}
button:hover {
    background: #ffa600;
}
