/* General */

@font-face {
    font-family: "nickelodeon";
    src: url('../fonts/nickelodeon.ttf') format("truetype");
}

body {
    background-image: url('../images/bg.png');
    height: 100%;
    text-align: center;
}
h1, h2, h3 {
    margin-top: 4px;
}
h1 {
    font-size: 1.6em;
}
hr {
    width: 100%;
}
.panel {
    margin: 40px 0;
}
.panel-body {
    padding: 0;
}

/*Title*/
.nick {
    color: #FF6820;
    font-size: 3.6em;
    font-family: "nickelodeon", sans-serif;
}

/*Word Related*/

.info {
    margin: 15px 0;
}

#categoryName {
    font-size: 1.8em;
    margin: 30px 0;
}

.well {
    margin: 40px;
}

#word {
    margin: 0;
    padding: 20px;
}
#word li {
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.8em;
    font-weight: bold;
}

#tries {
    /*margin: 40px;*/
}

/*Classy Button*/

#reset {
    margin-bottom: 20px;
    color: #fff;
    background: #FF6820;
}
#reset:hover {
    background: #CE5124;
}
